<h1>Employee <%= @employee.id %></h1>

<p>First Name: <%= @employee.firstname %></p>
<p>Last Name: <%= @employee.lastname %></p>
<p>Email: <%= @employee.email %></p>
<p>Username: <%= @employee.username %></p>
<p>Password: <%= @employee.password %></p>
<p>Mobile: </p><%= @employee.phonenumber %></p>
<p>Zipcode: <%= @employee.zipcode %></p>
<p>Plan Start Date: <%= @employee.planstartdate %></p>
<p>Plan End Date: <%= @employee.planenddate %></p>
<p>Plan Days: <%= @employee.totaldaysofplan %></p>