
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

<h1 class="header-w3ls">SignIn Form</h1>
<div class="signin-w3ls">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |form| %>
    <div class="signin-agile1">
        <div class="form-control">
          <%= form.label :email, "Email Address :",class: "header" %>
          <%= form.email_field :email, placeholder: "mail@example.com", title: "Please enter a valid email", required: true , id: "emailid"%>
        </div>

        <div class="form-control">
          <%= form.label :password, "Password :",class: "header" %>
          <%= form.password_field :password, class: "lock", placeholder: "password", id: "password", required: true %>
        </div>
  
        <% if devise_mapping.rememberable? %>
          <div class="form-control">
            <%= form.check_box :remember_me %>
            <%= form.label :remember_me %>
          </div>
        <% end %>

        <%= form.button 'SignIn', type: 'submit',class: 'sign_in' %>
          <%= render "devise/shared/links" %>
    </div>
 
  <% end %>
</div>

<%# <%= button_to "logout" , destroy_user_session_path,method: :delete%>


  